body {
    background: #dfdfdf;
}

p {
    color: #222222;
}

.foto-principal {
    width: 200PX;
    border: 2px solid #FFFFFF; /*esse tipo de propriedade chamamos de shorthand*/
    border-radius: 50%; /*onde eu posso deixar os cantinhos da borda mais redondos, se quiser deixar exatamente redondo é só colocar 50%*/
    
    margin: 30px 30px 30px 30px; /*propriedade shorthad da margin*/
    /*
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 100px;
    margin-left: 100px;
    */
}