body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    /* background-position: 100% 10%; */
    background-position: center center;
    background-size: cover; 
    background-attachment: fixed;

}

p {
    color: #222222;
}

.foto-principal {
    width: 200px;
}
   /*background-size: cover;*/
<!--a img. preenche a tela toda-->
/* background-attachment: fixed;*/
<!--a img não se move-->
/*background-image: url(background.jpg)*/
<!-- quando qro inserir imagem no meu background-->
